In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

This data comes from https://www.governing.com/archive/state-education-spending-per-pupil-data.html.

In [19]:
states = pd.read_csv('./data/state_spending_per_student.csv')
states.head()

,State,Total Per Pupil Spending,Total Spending (in Ks),Instruction Spending Per Pupil,Instruction Spending (in Ks),Support Services Per Pupil,Support Services (in Ks)
0,Alabama,"$9,236","$6,907,539","$5,257","$3,865,453","$3,321","$2,439,634"
1,Alaska,"$17,510","$2,327,151","$9,449","$1,251,738","$7,427","$983,877"
2,Arizona,"$7,613","$7,276,067","$4,077","$3,872,250","$3,105","$2,913,176"
3,Arkansas,"$9,846","$4,750,938","$5,539","$2,658,253","$3,762","$1,802,769"
4,California,"$11,495","$72,641,244","$6,849","$42,587,272","$4,191","$26,058,021"

In [28]:
def dollar_to_float(dollar: str) -> float:
    return float(dollar.replace(',', '')[1:])

In [31]:
states['Total Per Pupil Spending'] = states['Total Per Pupil Spending'].apply(dollar_to_float)

In [38]:
pps = states[['State', 'Total Per Pupil Spending']]
pps.sort_values('Total Per Pupil Spending', ascending=False)

                   State  Total Per Pupil Spending
32              New York                   22366.0
8   District of Columbia                   19159.0
6            Connecticut                   18958.0
30            New Jersey                   18402.0
45               Vermont                   17873.0
1                 Alaska                   17510.0
50               Wyoming                   16442.0
21         Massachusetts                   15593.0
39          Rhode Island                   15532.0
38          Pennsylvania                   15418.0
29         New Hampshire                   15340.0
7               Delaware                   14713.0
20              Maryland                   14206.0
13              Illinois                   14180.0
11                Hawaii                   13748.0
34          North Dakota                   13373.0
19                 Maine                   13278.0
23             Minnesota                   12382.0
27              Nebraska                   12299.0
35                  Ohio                   12102.0
22              Michigan                   11668.0
47            Washington                   11534.0
4             California                   11495.0
49             Wisconsin                   11456.0
46              Virginia                   11432.0
26               Montana                   11348.0
48         West Virginia                   11291.0
15                  Iowa                   11150.0
18             Louisiana                   11038.0
37                Oregon                   10842.0
25              Missouri                   10313.0
40        South Carolina                   10249.0
16                Kansas                    9960.0
17              Kentucky                    9863.0
14               Indiana                    9856.0
3               Arkansas                    9846.0
10               Georgia                    9769.0
31            New Mexico                    9693.0
5               Colorado                    9575.0
0                Alabama                    9236.0
41          South Dakota                    9176.0
43                 Texas                    9016.0
28                Nevada                    8960.0
9                Florida                    8920.0
42             Tennessee                    8810.0
33        North Carolina                    8792.0
24           Mississippi                    8702.0
36              Oklahoma                    8097.0
2                Arizona                    7613.0
12                 Idaho                    7157.0
44                  Utah                    6953.0